.site-footer{
    display: block;
    border-top: 1px solid black;
    .footer-logo{
        position: relative;
        float: left;
        img{
           width: 70px;
           height: 70px; 
           margin: 25px;
        }
    }

    .footer-list{
        position: absolute;
        margin-left: 150px;
        margin-top: 25px;
        .contact-links{
            width: fit-content;
            margin-bottom: 10px;
            .img {
                width: 15px;
                height: 15px;
            }
            .link-text {
                margin-left: 15px;
                display: inline;
                vertical-align: center;
                line-height: 32px;
                font-size: 14px;
            }
        }
    }
}
