#about-page{
  .intro{
    display: flex;
    flex-wrap: wrap;
    .profile-pic{
      width: 200px;
      height: 200px;
      margin: 10px;
      border: 1px solid black;
      @media (max-width: 768px) {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .body-txt{
      margin: 10px;
      font-size: 16px;
      font-weight: 200;
    }
  }

  .like_panel{
    margin: 10px;
    height: 750px;
    font-size: 80px;
    text-align: center;
    #food{
      height: 240px;
      margin: 10px;
      border: 1px solid black;
      background-size: cover;
      background-image: url("/assets/site/images/food.jpg");
      &:hover { 
        p{
          opacity: 0.50;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          padding-top: 10px;
        } 
        span{
          margin: 20px;
          padding: 10px;
          text-align: center;
          background-color: black;
          opacity: 1;
          color: white;
          transform: translate (-50%, -50%);
          -ms-transform: translate (-50%, -50%);
        }
      }   
    }
    #travel{
      height: 240px;
      margin: 10px;
      border: 1px solid black;
      background-size: cover;
      background-image: url("/assets/site/images/travel.jpeg");
      &:hover { 
        p{
          opacity: 0.50;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          padding-top: 10px;
        } 
        span{
          margin: 20px;
          padding: 10px;
          text-align: center;
          background-color: black;
          opacity: 1;
          color: white;
          transform: translate (-50%, -50%);
          -ms-transform: translate (-50%, -50%);
        }
      }
    }
    #project{
      height: 240px;
      margin: 10px;
      border: 1px solid black;
      background-size: cover;
      background-image: url("/assets/site/images/project.jpg");
      &:hover { 
        p{
          opacity: 0.5;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          padding-top: 10px;
        } 
        span{
          margin: 20px;
          padding: 10px;
          text-align: center;
          background-color: black;
          opacity: 1;
          color: white;
          transform: translate (-50%, -50%);
          -ms-transform: translate (-50%, -50%);
        }
      }
    }
  }
}
