
//Fonts
$font-family-sans-serif: Avenir, Nunito; 
$font-family-title: Roboto;
$font-family-subtitle: Avenir, Nunito;

$title-font-size: 22px;
$regular-font-size: 16px;


//Colors
$green-theme-color: #65BC45;
$dark-green-theme-color: #188900;
$blue-theme-color: #01A1C5;
$dark-blue-theme-color: #017BC7;
$light-blue-theme-color: #F5FAFF;
$grey-background-color: #B7B7B7;
$grey-line-color: #D7D7D7;
$light-grey-background-color: #F7F7F7;

$bpColor: #b722e5;
