
//Fonts
$font-family-sans-serif: Avenir, Nunito; 
$font-family-title: Roboto;
$font-family-subtitle: Avenir, Nunito;

$title-font-size: 22px;
$regular-font-size: 16px;


//Colors
$grey-background-color: #B7B7B7;
$grey-line-color: #D7D7D7;
$indigoColor: #5151f1;
